#!/bin/sh

exec consul-template \
     -consul-addr=consul:8500 \
     -template "/etc/consul-template:/etc/nginx/conf.d/app.conf:nginx -s reload"s/nginx.conf